### Instruções Gerais
- Utilize a biblioteca Pandas (`import pandas as pd`).
- Crie os dados quando necessário ou leia de arquivos conforme indicado.
- Exiba os resultados de forma clara.
- Para os exercícios que envolvem arquivos, você pode criá-los manualmente ou usar dados simulados.

**Exercício 1 (Criação de Series)**  
Crie uma Series a partir da lista `[10, 20, 30, 40, 50]` com índices personalizados `['a', 'b', 'c', 'd', 'e']`. Exiba a Series e o valor correspondente ao índice 'c'.

**Exemplo de saída:**
```
a    10
b    20
c    30
d    40
e    50
dtype: int64
Valor no índice 'c': 30
```

**Exercício 2 (Criação de DataFrame)**  
Crie um DataFrame com os seguintes dados de alunos:
- Nome: ['Ana', 'Bruno', 'Carla', 'Daniel']
- Idade: [22, 25, 21, 23]
- Nota: [8.5, 7.0, 9.2, 6.8]

Exiba o DataFrame.

**Exercício 3 (Seleção de colunas)**  
A partir do DataFrame do exercício 2, selecione apenas as colunas 'Nome' e 'Nota' e exiba as primeiras 2 linhas.

**Exercício 4 (Leitura de arquivo)**  
Considere um arquivo CSV chamado `vendas.csv` com as colunas: `produto`, `quantidade`, `preco`. Crie um código que leia esse arquivo e exiba as 5 primeiras linhas. (Você pode criar o arquivo manualmente com alguns dados fictícios ou usar dados simulados.)

**Exemplo de conteúdo do arquivo:**
```
produto,quantidade,preco
Notebook,10,2500
Mouse,50,30
Teclado,30,80
Monitor,15,900
Cadeira,5,450
```

**Exercício 5 (Adicionar coluna)**  
No DataFrame do exercício 2, adicione uma nova coluna 'Situação' que contenha 'Aprovado' se a nota for maior ou igual a 7, e 'Reprovado' caso contrário. Exiba o DataFrame atualizado.

**Exercício 6 (Operações básicas)**  
Crie um DataFrame com números de 1 a 10 em uma coluna 'valor'. Adicione uma coluna 'dobro' que seja o dobro de 'valor' e uma coluna 'par' que seja `True` se o número for par, `False` caso contrário. Exiba o DataFrame.

**Exercício 7 (Filtros e seleção condicional)**  
Crie um DataFrame de vendas com pelo menos 10 linhas e as colunas: `produto`, `categoria`, `quantidade`, `preco`. Em seguida, selecione os produtos da categoria 'eletrônicos' com quantidade maior que 5. Exiba o resultado.

**Exemplo de dados:**
| produto   | categoria   | quantidade | preco |
|-----------|-------------|------------|-------|
| Celular   | eletrônicos | 8          | 1500  |
| TV        | eletrônicos | 3          | 3000  |
| Mouse     | periféricos | 20         | 50    |
| ...       | ...         | ...        | ...   |

**Exercício 8 (Group by e agregação)**  
Com o mesmo DataFrame de vendas do exercício 7, calcule o total de vendas (quantidade * preco) por categoria. Exiba o resultado ordenado do maior para o menor.

**Exercício 9 (Apply com lambda)**  
No DataFrame de alunos (exercício 2), crie uma coluna 'faixa_etaria' que classifique a idade como:
- 'jovem' para idade < 22
- 'adulto' para idade entre 22 e 24 (inclusive)
- 'mais_velho' para idade > 24

Use a função `apply` com uma função lambda ou uma função definida.

**Exercício 10 (Ordenação e reset index)**  
Ordene o DataFrame de alunos pela nota em ordem decrescente e, em seguida, resete o índice para que ele se torne uma coluna numérica sequencial (use `reset_index(drop=True)` para descartar o índice antigo). Exiba o resultado.

**Exercício 11 (Merge de DataFrames)**  
Crie dois DataFrames:  
- `clientes`: com colunas `id_cliente`, `nome`, `cidade` (pelo menos 5 clientes).  
- `pedidos`: com colunas `id_pedido`, `id_cliente`, `valor`, `data` (pelo menos 8 pedidos, alguns clientes podem ter vários pedidos, outros nenhum).  

Realize um merge (left join) para obter uma tabela com todos os pedidos e os dados do cliente. Exiba o resultado. Em seguida, calcule o valor total de pedidos por cliente (incluindo clientes sem pedidos, que devem aparecer com 0). Use `groupby` e `merge` novamente se necessário.

**Exercício 12 (Tratamento de dados e apply complexo)**  
Considere um DataFrame com dados de funcionários:

```python
funcionarios = pd.DataFrame({
    'nome': ['João', 'Maria', 'Pedro', 'Ana', 'Lucas'],
    'salario': [2500, 3200, 2800, 3900, 3100],
    'departamento': ['Vendas', 'TI', 'Vendas', 'RH', 'TI'],
    'data_contratacao': ['2020-05-10', '2019-08-15', '2021-01-20', '2018-11-05', '2022-03-12']
})
```
- Converta a coluna 'data_contratacao' para datetime.
- Crie uma nova coluna 'tempo_casa' que represente o número de dias desde a contratação até hoje (use `pd.Timestamp.now()`).
- Crie uma coluna 'bonus' que seja 10% do salário para quem tem mais de 2 anos de casa (730 dias) e 5% para os demais.
- Exiba o DataFrame final com as novas colunas.

**Exercício 13 (Group by com múltiplas agregações e filtro)**  
Utilizando o DataFrame de pedidos do exercício 11, agrupe por `id_cliente` e calcule:
- Número de pedidos (`count`)
- Valor médio dos pedidos (`mean`)
- Valor total dos pedidos (`sum`)
- Data do último pedido (`max`)

Em seguida, filtre apenas os clientes que fizeram mais de 2 pedidos. Exiba o resultado.

**Dica:** Para o exercício 13, use o método `agg` do groupby para aplicar várias funções de uma só vez.